In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("C:\\Users\\tsuda\\dataelite\\dataelite2025\\Tsuna_practicas\\productos_farmaceuticos.csv")

In [24]:
df.head()

,pedido,producto_id,cantidad_solicitada,cantidad_devuelta,fecha_pedido,cliente_id,zona,vendedor_id,precio_unitario,pago,importado
0,20180507VBPN,JXC1415,1.0,0,2018-05-28,CLIN0976,Noreste,969991,11146.0,Revolvente,True
1,20150150ZEFW,EMR8486,14.0,0,2015-01-27,CLIN6814,Noreste,380530,924.0,Credito,True
2,20170283YCDK,PKV5113,25.0,0,2017-02-17,CLIN0582,Centro,727283,2647.0,Credito,False
3,20170866RLCO,WEA0146,8.0,0,2017-08-30,MED2407,Sur,579308,1740.0,Credito,False
4,20140957NQIV,TMO2924,4.0,0,2014-09-28,MED4970,Sur,579308,7319.0,Credito,False

In [25]:
df.dtypes

pedido                  object
producto_id             object
cantidad_solicitada    float64
cantidad_devuelta        int64
fecha_pedido            object
cliente_id              object
zona                    object
vendedor_id              int64
precio_unitario        float64
pago                    object
importado                 bool
dtype: object

In [26]:
df["vendedor_id"] = df["vendedor_id"].astype(str)

In [27]:
df["fecha_pedido"] = pd.to_datetime(df["fecha_pedido"])

In [28]:
df.dtypes

pedido                         object
producto_id                    object
cantidad_solicitada           float64
cantidad_devuelta               int64
fecha_pedido           datetime64[ns]
cliente_id                     object
zona                           object
vendedor_id                    object
precio_unitario               float64
pago                           object
importado                        bool
dtype: object

In [29]:
df.to_csv("C:\\Users\\tsuda\\dataelite\\dataelite2025\\10_business_intelligence\\Retos\\productos_farmaceuticos1.csv", index=False)